<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.by.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.by.model.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_pswd" property="userPswd" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_id, user_name, user_pswd
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.by.model.UserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from u_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from u_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from u_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.by.model.UserExample" >
    delete from u_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.by.model.User" >
    insert into u_user (user_id, user_name, user_pswd
      )
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userPswd,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.by.model.User" >
    insert into u_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPswd != null" >
        user_pswd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPswd != null" >
        #{userPswd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.by.model.UserExample" resultType="java.lang.Integer" >
    select count(*) from u_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update u_user
    <set >
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userPswd != null" >
        user_pswd = #{record.userPswd,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update u_user
    set user_id = #{record.userId,jdbcType=INTEGER},
      user_name = #{record.userName,jdbcType=VARCHAR},
      user_pswd = #{record.userPswd,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.by.model.User" >
    update u_user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPswd != null" >
        user_pswd = #{userPswd,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.by.model.User" >
    update u_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_pswd = #{userPswd,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="query" resultType="user">
    select * from u_user where user_name=#{userName}
  </select>
  <select id="query1" resultType="user">
    select * from u_user
  </select>
  <insert id="add">
    insert into u_user (user_name,user_pswd) values (#{userName},#{userPswd})
  </insert>
  <insert id="insertUserRole" parameterType="urVo">
    insert into t_ur (user_id,role_id) values
    <foreach collection="ur.roles" item="roleId" separator=",">
    <if test="roleId!=null">
      (#{ur.userId},#{roleId})
    </if>
    </foreach>
  </insert>
  <select id="findAll" resultMap="findAllMap">
        select
            u.user_id as user_id,u.user_name as user_name ,r.role_name as role_name
        from
            (select * from u_user limit #{start},#{limit}) u left join t_ur ur on u.user_id = ur.user_id
            left join r_role r on ur.role_id = r.role_id
    </select>
<select id="selectByrole" resultType="string">
    select r.role_name from u_user u
    LEFT JOIN t_ur ur on u.user_id=ur.user_id
    LEFT JOIN r_role r on ur.role_id=r.role_id where u.user_name=#{userName}
</select>
  <select id="selectByrol" resultType="string">
    select r.role_name from u_user u
    LEFT JOIN t_ur ur on u.user_id=ur.user_id
    LEFT JOIN r_role r on ur.role_id=r.role_id where u.user_id=#{userId}
</select>

  <resultMap id="findAllMap" type="com.by.model.UserRoleVo" autoMapping="true">
    <id column="user_id" property="userId"></id>
    <!-- ofType 泛型的类型  -->
    <collection property="roles" ofType="com.by.model.Role" autoMapping="true">
    </collection>
  </resultMap>
</mapper>